<div class="flex justify-center">
  <mat-slide-toggle
    name="hasCertificate"
    data-testid="bring-own-cert-toggle"
    [formControl]="group.controls.bringOwnCert"
    >I already have a certificate
  </mat-slide-toggle>
</div>

<div *ngIf="!isBringOwnCert" class="flex flex-col gap-4">
  <!-- Generate Button -->
  <div class="flex-1 flex flex-col items-center">
    <button
      class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
      type="button"
      [disabledBtn]="!canGenerate && hasGenerated"
      (click)="onGenerateCertificateClick()">
      Generate Certificate and Private Key
    </button>
    <span class="text-xs text-gray-500 pt-2"
      >Generating a certificate is CPU-intensive and may freeze your browser for
      several seconds.</span
    >
  </div>

  <div class="flex gap-8 items-center justify-center">
    <!-- Generated Certificate -->
    <app-certificate-input
      *ngIf="hasGenerated"
      class="w-[30rem]"
      label="Generated Certificate"
      ctrlId="formCertGenCertificate"
      data-testid="formCertGenCertificate"
      [placeholder]="
        isGenerating
          ? 'Generating...'
          : 'Generated Certificate will appear here.'
      "
      [readonly]="true"
      [ctrl]="group.controls.generatedCertificate"></app-certificate-input>

    <!-- Generated Private Key -->
    <app-certificate-input
      *ngIf="hasGenerated"
      class="w-[30rem]"
      label="Generated Private Key"
      ctrlId="formCertGenPrivateKey"
      data-testid="formCertGenPrivateKey"
      [placeholder]="
        isGenerating
          ? 'Generating...'
          : 'Generated Private Key will appear here.'
      "
      [readonly]="true"
      [ctrl]="group.controls.generatedPrivateKey"></app-certificate-input>
  </div>
</div>

<!-- Own Certificate -->
<div *ngIf="isBringOwnCert" class="flex flex-col items-center">
  <app-certificate-input
    class="w-full max-w-5xl"
    label="Your Certificate"
    ctrlId="formCertOwnCertificate"
    data-testid="formCertOwnCertificate"
    [ctrl]="group.controls.ownCertificate"></app-certificate-input>
</div>
