<form [formGroup]="userForm">
  <div class="flex gap-4 flex-wrap">
    <!-- User First Name -->
    <app-text-input
      class="flex-1"
      label="First Name"
      ctrlId="formRegFirstName"
      data-testid="formRegFirstName"
      placeholder="John"
      required
      [ctrl]="userForm.controls.firstName"></app-text-input>

    <!-- User Last Name -->
    <app-text-input
      class="flex-1"
      label="Last Name"
      ctrlId="formRegLastName"
      data-testid="formRegLastName"
      placeholder="Doe"
      required
      [ctrl]="userForm.controls.lastName"></app-text-input>
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- User Job Title -->
    <app-text-input
      class="flex-1"
      label="Job Title"
      ctrlId="formRegJobTitle"
      data-testid="formRegJobTitle"
      placeholder="Analyst"
      required
      [ctrl]="userForm.controls.jobTitle"></app-text-input>

    <!-- User PhoneNumber -->
    <app-text-input
      class="flex-1"
      label="Phone Number"
      ctrlId="formRegPhoneNumber"
      data-testid="formRegPhoneNumber"
      placeholder="+49 1234 567890"
      required
      [ctrl]="userForm.controls.phoneNumber"></app-text-input>
  </div>
</form>
